.bg-gray{
  background-color: rgb(255, 255, 255);
}

section{
  padding: 50px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  width: 50px;
  border-top: 5px solid ;
}

.imagePreview {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

.personalities {
  background-color: rgba(255,255,255,0.75);
  margin:10px;
  padding:10px;
  border-radius: 30px;
  width:550px;
  max-width:100%;
}

#profileBackground {
  background-size: cover;
  background-position:center;
  border-radius:8px;
}
#profileImage {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  border-radius:8px;
  width:100%;
  margin:0;
}

.profHR {
  width:100%;
  border-top: 1px dashed;
}

.shadow-gray {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

.no-shadow {
  text-shadow: none;
}

.tachie.card {
  min-width: 200px; 
  max-width: 350px; 
  margin: auto; 
  background-color: rgba(255,255,255,0.50);
}

.tachie.card-img-top {
  width: inherit;
  height: 500px;
  object-fit: contain;
}

@media screen and (max-width:640px) { 
  .profile.container {
    padding: 0px;
  }
  section {
    padding: 0px;
  }
  #about {
    padding: 30px;
  }

  .tachie.card {
    min-width: 90%; 
    max-width: 90%; 
    margin: auto; 
    background-color: rgba(255,255,255,0.50);
  }

  .tachie.card-img-top {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
  }
}

.youtube-inner {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
}

.youtube-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.thumbnail {
  border: solid 1px lightgray;
  border-radius: .25rem;
  width: 200px;
  height: 350px;
  background-image: url(${personality.thumbnail_path});
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.5);
  margin: auto;
}

#ProfileSection {
  padding-bottom: 80px;
}

#CautionPane {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 10px;
  padding: 10px;
}

.pointer {
  cursor: pointer
}

.editButton {
  font-size: 1.6rem;
}

#introduction {
  white-space: pre-wrap;
}

.subInfoPane {
  min-width: 250px;
}

.icon {
  width: 22px;
  padding-bottom: 4px;
}

.tag {
  font-size: 0.9rem;
}
.tagEdit {
  position:relative; top:3px;
  font-size: 1.4rem;
}

.subSectionPane {
  max-width: 100%;
}

.tachieText {
  background-color:rgba(255,255,255,1);
}

.characterDesignImage {
  max-width: 100%; 
  max-height: 500px;
}
.characterDesignText {
  max-width: 100%; 
  white-space: pre-wrap;
}

#MoviePane {
  width: 90%;
  max-width: 640px;
}

.logoImage {
  width: auto;
  max-height: 400px;
}

.ogpImage {
  max-height: 400px;
}
