extends layout/layout

block content
  
  div(style="width:100%; max-width:800px; margin:auto;")#about.text-center
    section.page-section
      .logo
      p バーチャルキャラクターのためのプロフィール登録サービス

    section.page-section
      h1 Meish*とは
      hr.text-info
      .text-left
        p Meish（メイシュ）は、VTuberやVLiver、VRChatなどバーチャル上で活動する方々のプロフィールや活動内容、キャラクタービジュアルを保管、検索できるサイトです。
        p SNSのプロフィール欄では表現しきれないキャラクターのディティールや、コラボレーションやファン活動促進のための情報を管理できます。
    
    section.page-section
      h1 Meishが叶えること
      hr.text-success
      .text-left


    section.page-section
      h1 Meishのポリシー
      hr.text-success
      .text-left
        p Meishは設定や情報が多いバーチャルキャラクターにおける、Twitter等各種SNSでのプロフィール欄の窮屈さを解消するためのサービスです。
        p Meishで作成したご自身のプロフィールページは、スクリーンショットのSNS共有や動画素材への利用、名刺として印刷など自由にお使いいただけます。
        p Meishではキャラクターの日々の活動や作品などを管理する機能の追加予定はありません。プロフィール本文や活動場所などに適切なリンクを貼って誘導してください。
        p Meishではキャラクタープロフィールに無関係な数値（Twitterのフォロワー数やYoutubeの登録数など）を表示、管理する予定はありません。
        p Meishは表現の自由を重んじています。法に抵触せず適切な住み分けが行われる限り、性的表現また暴力的表現等の表現規制、削除などは行いません。

    section#terms.page-section
      include terms.pug

    section.page-section
      h1 注意事項
      hr.text-danger
      .text-left
        h4 Twitter認証時の要求権限について
        p Twitterログイン連携を行う際に要求される権限はTwitterの仕様上細かく制限することができないため、サービスが必要とする範囲より広い権限を要求しています。実際に利用するデータはユーザーID、ユーザー名、ユーザープロフィール、ユーザーアイコンです。
        h4 アップロードされた画像の公開状態について
        p プロフィールは非公開状態にすることができますが、プロフィール非公開状態でもアップロードされた画像のURLは失効しません。画像の削除はプロフィール編集画面またはMeish退会によって行えます。
        h4 Twitterの退会およびユーザーID変更について
        p Twitterを退会するとログインおよびプロフィール情報の編集を行えなくなります。
        p TwitterのユーザーID変更には対応していません。TwitterのユーザーIDの変更を行う際は一旦Meishのアカウントを消してください。
        p Twitterの退会またはユーザーID変更によるトラブルについての問い合わせや対応などは行えません。

    section.page-section
      h1 お問い合わせ
      hr.text-secondary
      .text-left
        h4 サービスの不具合、要望など
        p 報告・提案などによりサービスへ貢献頂いた方は
          a(href="/")  SpecialThanksページ 
          span に名前やプロフィールページへのリンク等を記載させていただきます。
        h6 
          b 一般の方
        p βテスト期間中は以下のβテスト用Discordサーバーより提案・要望をお送りください。
        p 
          a(href="https://discord.gg/mUVmjMs") Meish* βテスト用Discordサーバー
        h6
          b 開発経験ありorエンジニアの方
        p
          a(href="https://github.com/OkuriSae/Meish") MeishのGitHubリポジトリ
          span  にて、イシューとして投稿してください。
        p プルリクエストも歓迎しています。
        h4 特定のコンテンツに関するお問い合わせ
        p 荒らしや不適切なユーザーの報告、著作権侵害に関するお問い合わせ（権利者本人のみ）
        p 
          a(href="") Meish*のTwitterアカウント(まだない)
          span  へDMにてご連絡ください。
        h4 その他のお問い合わせ
        p 管理人の 
          b 小栗さえ
          span  までご連絡ください。
        ul
          li
            a(href="https://twitter.com/OkuriSae") Twitter: @OkuriSae
          li
            a(href="/i/OkuriSae") Meish: 小栗さえ
          li
            span E-Mail: sae.okuri@gmail.com