extends layout/layout

block content
  
  div(style="width:100%; max-width:800px; margin:auto;")#about.text-center
    section.page-section
      .logo

    include terms_block.pug

    section#Agreement.page-section
      form(method='post' action='/i/'+me.username)
        input(type="hidden" name="_csrf" value=csrfToken)
        a(href="/")
          button(type="button").btn.btn-secondary.mx-2 同意しない
        button(type="submit").btn.btn-primary.mx-2 同意してプロフィールを作る