extends layout/layout

block meta
  link(rel="stylesheet" href="/css/index.css")

block content
  
  div(style="width:100%; max-width:1200px; margin:auto;")#about.text-center
    section#TopSection.page-section
      h1.mt-5 オススメタグイベント
      hr.text-primary
      p.mt-5
        b Meish*のTOPページに今週のオススメタグが表示されます！
      h3(style="color: #5A4;") 4月のオススメタグ
      - var tags = []
      - tags.push({range: "4/6 ~ 4/10", name: "あつ森"})
      - tags.push({range: "4/11 ~ 4/15", name: "Ark"})
      - tags.push({range: "4/16 ~ 4/20", name: "Apex"})
      - tags.push({range: "4/21 ~ 4/25", name: "VRChat"})
      - tags.push({range: "4/26 ~ 4/30", name: "麻雀"})
      each tag in tags
        h5 #{tag.range}
        a(href=`/search?q="${tag.name}"`)
          span(style=`background-color:hsl(${tag.name.charCodeAt(0) % 36 * 10}, 50%, 45%); font-size:0.9rem; position:relative; top:-2px; line-height:inherit;`).badge.badge-secondary.p-2.m-1 #{tag.name}