extends layout/layout

block content
  
  div(style="width:100%; max-width:800px; margin:auto;")#about.text-center
    section.page-section
      .logo
      h1.mt-4 Meish*の使い方
      small ※登場キャラクターには許可をいただいてます

    section.page-section
      h1 TOP画面
      hr.text-info
      .text-left
        p [全体画像]

        h2 TOP初期表示
        .mx-4
          p Meishに登録されているキャラクターのうちランダムな３０キャラクターが表示されます
        h2 登録タグ一覧
        .mx-4
          p 登録数の多いタグ上位15件が表示されます。
          p 右端の ... タグを押すことにより上位500件までの登録タグを見ることができます。

    section.page-section
      h1 キャラクター登録
      hr.text-info
      .text-left
        p [全体画像]
        
        h2 注意案内
        .mx-4
          p [注意案内の画像]
          p 重要な設定が完了していない場合に表示されます。
          p 本人以外には表示されません。（無視してもOK）

        h2(style="margin-top:50px;") 操作パネル
        .mx-4
          p [ここに操作パネルの画像]
          p プロフィールの公開状態（公開する/非公開にする）、編集/閲覧モードを切り替えられます。
          h5
            b 公開状態
          .mx-3
            p 初期状態は非公開状態です。
            p 非公開状態の場合、検索やプロフィールURLからたどり着くことはできなくなります。
              br
              span 非公開状態の場合でも、アップロードされた画像のURLを直接指定すると参照できますのでご注意ください。
          h5
            b 編集モード/閲覧モード
          .mx-3
            p アカウント作成時は編集モード、2回目以降は閲覧モードが初期状態です。
            p 編集ボタンおよびロゴアップロードフォームは編集モードのみで表示されます。

        h2(style="margin-top:50px;") プロフィール編集
        .mx-4
          p 編集モードにて、プロフィール右上の編集ボタン(鉛筆マーク)をクリックするとプロフィール編集パネルが開きます。
          p [ここに編集ボタンの画像]
          h5 
            b 背景
          .mx-3
            p プロフィール領域の背景に表示されます。
            p プロフィール領域を完全に覆うサイズまで自動で拡大または縮小され、上下または左右にはみ出した部分は切り取られます。
            p [横長のプロフィール画像]
            p [縦長のプロフィール画像]
            h6
              b 制限、推奨フォーマット
            p ファイルサイズ: 2MB以下
            p ファイル形式: PNG/JPG（スマホに優しいJPGがオススメ）
            p 画像の解像度: 1920x1080px以上（16:9の画像である必要はありません）
            p プロフィール領域は画面サイズによって横長から縦長に変化するため、上下または左右が切り取られても違和感のない画像を設定してください。
            h6
             b PC/スマホ表示シミュレートバー
            p スライドバーを移動させることによって、PC環境での表示やスマホ環境での表示をシミュレートできます。
            p 注：アップロード画像を変更するものではありません。
            p [スライドバー]

          h5 
            b 立ち絵
          .mx-3
            p プロフィール領域の右下端を起点として、背景画像の前面に表示されます。
            p 画像全体が表示されるようにプロフィール領域の高さまたは幅のサイズまで拡大/縮小されます。
            p 背景が透過されている全身図またはバストアップの画像を推奨します。
              br
              span 画像が大きく表示されすぎてしまう場合は、画像に透明な余白を入れることで表示サイズを調整することも可能です。
            p [横長のプロフィール画像]
            p [縦長のプロフィール画像]
            h6
              b 制限、推奨フォーマット
            p ファイルサイズ: 2MB以下
            p ファイル形式: 透過PNG（透過背景だと綺麗です）
            p 画像の解像度: 縦1080px以上。縦長の画像（横長だとスマホ表示で小さくなります）
          h5 
            b キャラクター名よみ
          .mx-3
            p キャラクター名の上部に表示されます。
          h5 
            b キャラクター名
          .mx-3
            p プロフィール欄の上部に表示されます。長さがプロフィール欄を超える場合は自動で改行されます。
          h5 
            b メインプロフィール
          .mx-3
            p 肩書き、推しマーク、所属など、大きく主張したいプロフィールを記入します。
            p [メインプロフィールのサンプル画像]
          h5
            b 詳細プロフィール
          .mx-3
            p キャラクターの詳細プロフィールを記入します。
            p [詳細プロフィールのサンプル画像]
          h5
            b 検索タグ
          .mx-3
            p TOPページのタグ検索に使われるタグです。スペース区切りで複数タグを入力できます。
            p タグの文字に応じたカラーが自動で設定されます。同じタグであれば必ず同じ色になります。
            p [タグの表示サンプル画像]

        h2(style="margin-top:50px;") ハッシュタグ、活動場所、応援方法
        .mx-4
          p Twitterのハッシュタグ、活動プラットフォーム、活動の応援方法が管理できます。
          p プロフィール編集と同様に、それぞれのタイトル横にある編集ボタン(鉛筆マーク)から編集パネルを開きます。
          p [ハッシュタグ、活動場所、応援方法のサンプル画像]
          p URLのドメインに応じたアイコンが自動で設定されます。（該当しない場合はMeishのアイコンになります）
          p 
            b 対応ドメイン一覧
          p [対応アイコンの画像]
          h5
            b ハッシュタグ
          .mx-3
            p Twitterのハッシュタグを入力します。タグ名と説明が記入できます。
              br
              span 入力されたタグ名に自動でTwitterハッシュタグ検索へのリンクがつきます。
            p 編集する場合は、プルダウンから編集したいハッシュタグを選びます。
            p [タグ編集パネルの画像]
          h5
            b 活動場所
          .mx-3
            p 活動しているプラットフォームや、サイト情報を記入できます。
              br
              span リンクの表示名とリンク先を設定できます。
            p [活動場所編集パネルの画像]

          h5
            b 応援方法
          .mx-3
            p ファンが活動を応援するための方法を記入できます。
            p テキストでの応援案内もできます。（積極的にリプください！など）
            p [応援方法編集パネルの画像]]

        h2(style="margin-top:50px;") 立ち絵
        .mx-4
          p キャラクターの立ち絵（縦長）を5つまでアップロードできます。
          p 画像は300x600pxの枠に収まるように縮小されます。
          p 立ち絵には、それぞれタイトルと説明が記入できます。
          p 立ち絵表示領域の背景には、キャラクターロゴが設定されます（初期状態はMeishのロゴになります）。
          p [立ち絵のサンプル画像]
          h6
            b 制限、推奨フォーマット
          p ファイルサイズ: 2MB以下
          p ファイル形式: PNG/JPG
          p 画像の解像度: 600x300px以上
          h6
            b 検索サムネイル
          p アップロードした立ち絵を検索サムネイルに設定することができます。
            br
            |（ファイルが選択されている場合のみチェックボックスが表示されます）
          p [検索サムネにするボタン]

        h2(style="margin-top:50px;") キャラクターデザイン
        .mx-4
          p キャラクターデザインの画像を1つまでアップロードできます。
          p 三面図や二面図、衣服やアクセサリの詳細など、ファンアートなどを描いてもらうために必要な情報、設定がわかる画像になっているとよいです。
          p テキストでの補足説明も書けます。
          p [キャラクターデザインのサンプル画像]
          h6
            b 制限、推奨フォーマット
          p ファイルサイズ: 2MB以下
          p ファイル形式: JPG/PNG（jpegがスマホに優しいです）
          p 画像の解像度: 1920x1080px以上
        
        h2(style="margin-top:50px;") キャラクターロゴ
        .mx-4
          p キャラクターのロゴを1つまでアップロードできます。
          p 立ち絵の背景に設定されます。
          p [キャラクターデザインのサンプル画像]
          h6
            b 制限、推奨フォーマット
          p ファイルサイズ: 2MB以下
          p ファイル形式: JPG/PNG（jpegがスマホに優しいです）
          p 画像の解像度: 1920x1080px以上

        h2(style="margin-top:50px;") OGPイメージ
        .mx-4
          p Twitterなど（OGPに対応している）外部のサイトへ、MeishのプロフィールURLを貼りつけた際に展開される画像を設定します。
          p 画像は1200x630pxになるように切り取られ、右下部にウォーターマーク（Meishのロゴ）がつきます。
          p [OGPのサンプル画像]
          h6
            b 制限、推奨フォーマット
          p ファイルサイズ: 2MB以下
          p ファイル形式: JPG/PNG（jpegがスマホに優しいです）
          p 画像の解像度: 1200x630px以上

        h2(style="margin-top:50px;") 検索サムネイル
        .mx-4
          p TOPページの表示や、検索時のキャラクター表示に使われる画像です。
          p 未設定時はプロフィールの立ち絵が自動で設定されます。変更したい場合はプロフィール下の立ち絵のファイル選択時時に出てくる「検索サムネにする」チェックを入れることにより更新できます。
          p [検索サムネのサンプル画像]

        h2(style="margin-top:50px;") アカウント削除
        .mx-4
          p 該当アカウントに関する全ての情報を削除できます。アカウント削除の取り消しはできないのでご注意ください。