extends layout/layout

block meta
  link(rel="stylesheet" href="/css/howto.css")

block content
  
  div(style="width:100%; max-width:800px; margin:auto;")#about.text-center
    section.page-section
      .logo
      h1 Meish*の使い方
      small ※登場キャラクターには許可をいただいてます

    section.page-section
      h2 TOP画面
      hr.text-info
      .text-left
        p [全体画像]

        h4 TOP画面
        h5 初期表示
        p Meishに登録されているキャラクターのうちランダムな30キャラクターが表示されます。
        
        h5 登録タグ一覧
        p 登録数の多いタグ上位15件が表示されます。
          br
          | 右端の [...] タグを押すことにより上位500件までの登録タグを見ることができます。
        p タグ右側の数字は登録数です。非公開のキャラクターや、検索サムネイルが未登録などで検索結果に出ないキャラクターのタグもカウントされるため、実際の検索結果数と異なる可能性があります。
        
        h5 全員見る
        p 画面下部の『全員見る』ボタンを押すとキャラクター登録の新しい順に全てのキャラクターが表示されます。

        h5 センシティブなキャラクターも表示する。
        p センシティブ設定になっているキャラクターはTOPでサムネイル表示がぼやけるようになっています。
          | 『センシティブなキャラクターも表示する』ボタンを押すことでセンシティブ設定のキャラクターも通常通り表示されます。

    section.page-section
      h2 キャラクター登録/編集
      hr.text-info
      .text-left
        p [全体画像]
        
        h4 注意案内
        p [注意案内の画像]
        p 重要な設定が完了していない場合に表示されます。（本人以外には表示されません）
          br
          | 閲覧モードでは表示されません。

        h4 操作パネル
        p [ここに操作パネルの画像]

        h5 プロフィール公開状態
        p 初期状態は非公開状態です。
        p 非公開の場合、検索結果に表示されなくなりプロフィールURLも無効になります。
          br
          | 注意: アップロードされた画像のURLは参照不可になりません。

        h5 編集/閲覧モード切り替え
        p アカウント作成時は編集モード、2回目以降は閲覧モードが初期状態です。
          br
          | 以下のコンポーネントは編集モードのみで表示されます。
        ul
          li 注意案内
          li プロフィール編集用の鉛筆マーク
          li 『関係者・協力者』の見出し
          li コンテンツのない『ハッシュタグ、活動場所、応援する』の見出し
          li 『人気タグを見る』リンク
          li 『キャラクターデザイン、紹介動画』のヒントおよび入力ボタン
          li 『ロゴ/背景、OGPイメージ、検索サムネイル』
          li 『アカウントを削除』ボタン

        h5 Tweetボタン
        p プロフィールページをツイートすることができます。
          br
          | Tweetボタンからではなく、URLを直接ツイートしてもOGP画像は展開されます。

        h4 プロフィール編集
        p プロフィール右上の編集ボタン(鉛筆マーク)を押すとプロフィール編集パネルが開きます。
          br
          | 編集ボタンは編集モードでのみ表示されます。
        p [ここに編集ボタンの画像]
        
        h5 背景
        p プロフィール領域の背景に表示されます。
        p プロフィール領域を完全に覆うサイズまで自動で拡大または縮小され、上下または左右にはみ出した部分は切り取られます。
        p [横長のプロフィール画像]
        p [縦長のプロフィール画像]
        h6
          b 制限、推奨フォーマット
        ul
          li ファイルサイズ: 2MB以下
          li ファイル形式: PNG/JPG（スマホに優しいJPGがオススメ）
          li 画像の解像度: 1920x1080px以上（16:9の画像である必要はありません）
        p プロフィール領域は画面サイズによって横長から縦長に変化するため、上下または左右が切り取られても違和感のない画像を設定してください。
        h6 PC/スマホ表示シミュレートバー
        p スライドバーを移動させることによって、PC環境での表示やスマホ環境での表示をシミュレートできます。
          br
          | 注：アップロード画像をトリミングするものではありません。
        p [スライドバー]

        h5 立ち絵
        p プロフィール領域の右下端を起点として、背景画像の前面に表示されます。
          br
          | 全体が表示されるようにプロフィール領域の高さまたは幅のサイズまでリサイズされます。
        p [横長のプロフィール画像]
        p [縦長のプロフィール画像]
        h6
          b 制限、推奨フォーマット
        ul
          li ファイルサイズ: 2MB以下
          li ファイル形式: 透過PNG（透過背景だと綺麗です）
          li 画像の解像度: 縦1080px以上。縦長の画像（横長だとスマホ表示で小さくなります）
        p 背景が透過されている全身図またはバストアップの画像を推奨します。
          br
          | 画像が大きく表示されすぎてしまう場合は、画像に透明な余白を入れることで表示サイズを調整することも可能です。

        h5 キャラクター名よみ
        p キャラクター名の上部に表示されます。50文字まで入力できます。
          br
          | ここに肩書きを書くのもアリです。

        h5 キャラクター名
        p プロフィール欄の上部に表示されます。50文字まで入力できます。
          br
          | 長さがプロフィール欄を超える場合は自動で改行されます。

        h5 メインプロフィール
        p 肩書き、推しマーク、所属など、大きく主張したいプロフィールを記入します。
          br
          | 50文字まで入力できます。
        p [メインプロフィールのサンプル画像]

        h5 詳細プロフィール
        p キャラクターの詳細プロフィールを記入します。500文字まで入力できます。
        p 一部の文字（半角英数や海外の文字など）が自動改行されなく、プロフィール領域を突き抜けてしまうことがあるのでご注意ください。
        h6 入力のヒント
        ul
          li キャラ設定（誕生日とか）
          li 普段の活動
          li 大事にしてること
          li 目標
          li 好きなもの
          li もってるゲーム
          li コラボや二次創作などについて
        
        p [詳細プロフィールのサンプル画像]

        h5 検索タグ
        p TOPページのタグ検索に使われるタグです。スペース区切りで複数タグを入力できます。
          br
          | 大文字/小文字を分けた登録はできますが、検索の際に大文字/小文字は区別されません。
          br
          | 空白含め、合計100文字まで入力できます。
        p 検索されやすいタグを設定できるよう、「
          a(href="/tag_suggest") 人気タグを見る
          span 」から登録数の多いタグを探しましょう。
        p タグの文字に応じたカラーが自動で設定されます。同じタグであればどこでも同じ色になります。
          | タグのカラーはタグ名によって調整できますが、任意の色は選べません。
        p [タグの表示サンプル画像]

        h4 ハッシュタグ、活動場所、応援方法
        p Twitterのハッシュタグ、活動プラットフォーム、活動の応援方法が管理できます。
        p プロフィール編集と同様に、それぞれのタイトル横にある編集ボタン(鉛筆マーク)から編集パネルを開きます。
        p [ハッシュタグ、活動場所、応援方法のサンプル画像]

        h5 ハッシュタグ
        p Twitterのハッシュタグと説明を登録します。それぞれ20文字まで入力できます。
          br
          | 入力されたタグ名に自動でTwitterハッシュタグ検索へのリンクがつきます。
        p 登録済みのハッシュタグを編集する場合は、プルダウンから編集したいタグを選びます。
        p [タグ編集パネルの画像]

        h5 活動場所
        p 活動しているプラットフォームや、サイト情報を登録します。
          br
          | 表示名[20文字まで]とリンク先[200文字まで]を設定できます。
        p リンク先が入力されている場合は表示名に自動でリンクが付きます。
          br
          | 仕様上リンク詐欺が可能ですが、悪質な誘導である場合BAN対象になる可能性がありますのでご注意ください。
        p [活動場所編集パネルの画像]
        h6 対応ドメイン一覧
        p 以下のドメイン/URLに応じたアイコンが自動で設定されます。
          br
          | 未対応の場合はMeishのアイコンになります。
        p 短縮URLになっているとアイコンがつかないのでご注意ください。
        p Twitter
        .d-flex.flex-wrap.text-secondary.ml-4.mb-1
          div.domain.px-2.m-1.rounded twitter.com
          div.domain.px-2.m-1.rounded mobile.twitter.com
        p VTuberサイト
        .d-flex.flex-wrap.text-secondary.ml-4.mb-1
          div.domain.px-2.m-1.rounded virtual-youtuber.userlocal.jp
          div.domain.px-2.m-1.rounded vtuber-post.com
        p 動画・生放送プラットフォーム
        .d-flex.flex-wrap.text-secondary.ml-4.mb-1
          div.domain.px-2.m-1.rounded www.youtube.com
          div.domain.px-2.m-1.rounded m.youtube.com
          div.domain.px-2.m-1.rounded youtu.be
          div.domain.px-2.m-1.rounded com.nicovideo.jp
          div.domain.px-2.m-1.rounded www.nicovideo.jp
          div.domain.px-2.m-1.rounded nico.ms
          div.domain.px-2.m-1.rounded space.bilibili.com
          div.domain.px-2.m-1.rounded web.iriam.app
          div.domain.px-2.m-1.rounded 17.live
          div.domain.px-2.m-1.rounded www.showroom-live.com
          div.domain.px-2.m-1.rounded www.mirrativ.com
          div.domain.px-2.m-1.rounded www.openrec.tv
          div.domain.px-2.m-1.rounded twitcasting.tv
          div.domain.px-2.m-1.rounded www.twitch.tv
          div.domain.px-2.m-1.rounded www.mildom.com
          div.domain.px-2.m-1.rounded topia.tv
          div.domain.px-2.m-1.rounded user.topia.tv
        p 制作サービス
        .d-flex.flex-wrap.text-secondary.ml-4.mb-1
          div.domain.px-2.m-1.rounded *.booth.pm
          div.domain.px-2.m-1.rounded coconala.com
          div.domain.px-2.m-1.rounded profile.coconala.com
          div.domain.px-2.m-1.rounded line.me (スタンプ)
          div.domain.px-2.m-1.rounded store.line.me
          div.domain.px-2.m-1.rounded skeb.jp
        p 作品のプラットフォーム
        .d-flex.flex-wrap.text-secondary.ml-4.mb-1
          div.domain.px-2.m-1.rounded www.pixiv.net
          div.domain.px-2.m-1.rounded www.instagram.com
          div.domain.px-2.m-1.rounded nana-music.com
          div.domain.px-2.m-1.rounded soundcloud.com
          div.domain.px-2.m-1.rounded github.com
          div.domain.px-2.m-1.rounded note.com
        p 参加型のサービス
        .d-flex.flex-wrap.text-secondary.ml-4.mb-1
          div.domain.px-2.m-1.rounded discord.gg
          div.domain.px-2.m-1.rounded steamcommunity.com
          div.domain.px-2.m-1.rounded www.vrchat.com
          div.domain.px-2.m-1.rounded marshmallow-qa.com
        p 応援、支援
        .d-flex.flex-wrap.text-secondary.ml-4.mb-1
          div.domain.px-2.m-1.rounded www.pixiv.net/fanbox
          div.domain.px-2.m-1.rounded www.amazon.jp（ほしいも）
          div.domain.px-2.m-1.rounded www.amazon.co.jp
          div.domain.px-2.m-1.rounded giftee.co

        h5 応援する
        p ファンがキャラクターの活動を応援するための方法を記入できます。
          br
          | 活動方法と同じく、表示名とリンク先の入力が可能です。アイコンも設定されます。
        p [応援方法編集パネルの画像]

        h4 立ち絵
        p キャラクターの立ち絵を5つまでアップロードできます。
          br
          | 各立ち絵にはタイトル[20文字まで]と説明[60文字まで]が入力できます。
        p 立ち絵は高さが最大500px、幅が最大350pxになるように縮小されます。
        p 編集パネル上部のプルダウンから新規登録または登録済みの立ち絵の編集ができます。
        p [立ち絵のサンプル画像]
        h6 制限、推奨フォーマット
        ul
          li ファイルサイズ: 2MB以下
          li ファイル形式: PNG/JPG
          li 画像の解像度: 1000x700px推奨
        p サーバー側で推奨形式に自動変換されます。
        h6 検索サムネイル
        p ファイルが選択されていると『検索サムネにする』のチェックが表示されます。
          br
          | （編集表示で登録済みの立ち絵を表示しているだけだと表示されないので注意！）
        p 『検索サムネにする』にチェックをつけてアップロードを完了すると、検索サムネイルが登録（上書き）されます。
        p [検索サムネにするボタン]
        h6 背景
        p 立ち絵表示領域の背景には、ロゴ/背景（後述）にて登録した画像が設定されます。
          br
          | 初期状態はMeishのロゴになります。

        h4 キャラクターデザイン
        p キャラクターデザインの画像を1つまでアップロードできます。
          br
          | テキストでの補足説明[200文字まで]が書けます。
        p 三面図や衣服、アクセサリの詳細など、ファンアートや二次創作に必要な情報、設定がわかる画像の登録をオススメします。
          | キャラクターのライセンスやガイドラインなども書かれていると二次創作の敷居が下がります。
        p [キャラクターデザインのサンプル画像]
        h6 制限、推奨フォーマット
        ul
          li ファイルサイズ: 2MB以下
          li ファイル形式: JPG(推奨)/PNG
          li 画像の解像度: 1920x1080px推奨
        p サーバー側で推奨形式に自動変換されます。
        
        h4 ロゴ/背景
        p 立ち絵領域の背景に表示されるロゴ/背景を1つまでアップロードできます。
        p [キャラクターデザインのサンプル画像]
        h6 制限、推奨フォーマット
        ul
          li ファイルサイズ: 2MB以下
          li ファイル形式: JPG(推奨)/PNG
          li 画像の解像度: 1920x1080px推奨
        p サーバー側で推奨形式に自動変換されます。

        h4 OGPイメージ
        p Twitterなど（OGPに対応している）外部のサイトへ、MeishのプロフィールURLを貼りつけた際に展開される画像を設定します。
        p 画像は1200x630pxになるように切り取られ、右下部にウォーターマーク（Meishのロゴ）がつきます。
        p [OGPのサンプル画像]
        h6 制限、推奨フォーマット
        ul
          li ファイルサイズ: 2MB以下
          li ファイル形式: JPG(推奨)/PNG
          li 画像の解像度: 1200x630px推奨
        p サーバー側で推奨形式に自動変換されます。

        h4 検索サムネイル
        p TOPページの表示や、検索結果のキャラクター表示に使われる画像です。
        p 表示領域の解像度は200x350pxです。（サーバー側で400x700pxの画像を作ります）
        p 未設定時はプロフィールの立ち絵が自動で設定されます。
          br
          | 変更したい場合はプロフィール下の立ち絵のファイル選択時に出てくる「検索サムネにする」チェックを入れることにより更新できます。
        p [検索サムネのサンプル画像]

        h4 アカウント削除
        p 該当アカウントに関する全ての情報を削除できます。アカウント削除の取り消しはできないのでご注意ください。