block icons
  - var icons = {}
  - icons["twitter.com"] = "twitter_icon.png"
  - icons["mobile.twitter.com"] = "twitter_icon.png"
  - icons["www.youtube.com"] = "youtube_icon.png"
  - icons["m.youtube.com"] = "youtube_icon.png"
  - icons["youtube.com"] = "youtube_icon.png"
  - icons["youtu.be"] = "youtube_icon.png"
  - icons["marshmallow-qa.com"] = "marshmallow_icon.png"
  - icons["coconala.com"] = "coconala_icon.jpg"
  - icons["17.live"] = "17.live_icon.png"
  - icons["17.media"] = "17.live_icon.png"
  - icons["com.nicovideo.jp"] = "niconico_icon.png"
  - icons["www.nicovideo.jp"] = "niconico_icon.png"
  - icons["nico.ms"] = "niconico_icon.png"
  - icons["discord.gg"] = "discord_icon.png"
  - icons["nana-music.com"] = "nana_icon.png"
  - icons["note.com"] = "note_icon.png"
  - icons["skeb.jp"] = "skeb_icon.png"
  - icons["space.bilibili.com"] = "bilibili_icon.png"
  - icons["twitcasting.tv"] = "twitcasting_icon.png"
  - icons["web.iriam.app"] = "iriam_icon.jpg"
  - icons["www.instagram.com"] = "instagram_icon.png"
  - icons["www.mirrativ.com"] = "mirrativ_icon.png"
  - icons["www.openrec.tv"] = "openrec_icon.png"
  - icons["www.pixiv.net"] = "pixiv_icon.png"
  - icons["www.pixiv.me"] = "pixiv_icon.png"
  - icons["www.pixiv.net/fanbox"] = "pixiv_icon.png"
  - icons["www.showroom-live.com"] = "showroom_icon.png"
  - icons["www.twitch.tv"] = "twitch_icon.png"
  - icons["www.vrchat.com"] = "vrchat_icon.png"
  - icons["github.com"] = "github_icon.png"
  - icons["www.mildom.com"] = "mildom_icon.png"
  - icons["steamcommunity.com"] = "steam_icon.png"
  - icons["soundcloud.com"] = "soundcloud_icon.png"
  - icons["www.amazon.co.jp"] = "amazon_icon.png"
  - icons["www.amazon.jp"] = "amazon_icon.png"
  - icons["amzn.asia"] = "amazon_icon.png"
  - icons["giftee.co"] = "giftee_icon.png"
  - icons["store.line.me"] = "line_icon.png"
  - icons["line.me"] = "line_icon.png"
  - icons["topia.tv"] = "topia_icon.jpg"
  - icons["user.topia.tv"] = "topia_icon.jpg"
  - icons["virtual-youtuber.userlocal.jp"] = "userlocal_icon.jpeg"
  - icons["vtuber-post.com"] = "vpos_icon.jpg"
  - icons["profile.coconala.com"] = "coconala_icon.jpg"
  - icons["vtubers.love"] = "vtubers_icon.png"
  - icons["skima.jp"] = "skima_icon.png"
  - icons["peing.net"] = "peing_icon.png"
  - icons["seed.online"] = "tso_icon.jpeg"
  - icons["hub.vroid.com"] = "vroid_icon.jpg"
  - icons["suzuri.jp"] = "suzuri_icon.jpeg"
  - var getIcon = function (url) {
  -   icon = icons[url.split('/')[2]]
  -   icon = url.match('booth') ? "booth_icon.png" : icon
  -   icon = url.match('fanbox') ? "fanbox_icon.jpg" : icon
  -   return icon ? icon : "meish_icon.png"
  - }