extends layout/layout

block meta

  meta(property="og:type" content="website")
  meta(property="og:site_name" content="Meish*")
  meta(property="og:title" content="Meish*")
  meta(property="og:description" content="バーチャルプロフィール登録サービス")
  meta(property="og:url" content="http://www.meish.me/")
  meta(property="og:image" content="http://www.meish.me/img/meish_logo_lerge.png")

block content
  
  section(style='background-image: url("img/5372.jpg"); background-size: cover; background-position:center; background-attachment: fixed;')#about.page-section
    div.text-center
      div(style="height:100px;").logo.mb-4
      .flaverText
        h5 バーチャルプロフィール保管サービス
        h3.p-3 キャラクターに、『いのち』を吹き込もう
    div.d-flex.flex-wrap.justify-content-around
      each user in users
        div.m-3
          - var link = `/i/${user.username}`
          a(href=link)
            - var style=`width:200px; height:350px; background-image: url(${user.personality.tachie});background-color: rgba(255,255,255,0.5); border-radius: 8px; background-size: contain; background-repeat: no-repeat; background-position: center;`
            div(style=style)