extends layout/layout

block content
  
  section(style='background-image: url("img/3135117.jpg"); background-size: cover; background-attachment: fixed;')#about.page-section
    div.text-center.text-white
      h1 Meish*
      h3.p-3 キャラクターに『いのち』を吹き込もう
    div.d-flex.flex-wrap.justify-content-around
      - users.push({personality: {tachie : "img/dummy/d0.png"}, username: "dummy"})
      - users.push({personality: {tachie : "img/dummy/d1.png"}, username: "dummy"})
      - users.push({personality: {tachie : "img/dummy/d2.png"}, username: "dummy"})
      - users.push({personality: {tachie : "img/dummy/d3.png"}, username: "dummy"})
      - users.push({personality: {tachie : "img/dummy/d4.png"}, username: "dummy"})
      - users.push({personality: {tachie : "img/dummy/d5.png"}, username: "dummy"})
      - users.push({personality: {tachie : "img/dummy/d6.png"}, username: "dummy"})
      - users.push({personality: {tachie : "img/dummy/d7.png"}, username: "dummy"})
      - users.push({personality: {tachie : "img/dummy/d8.png"}, username: "dummy"})
      - users.push({personality: {tachie : "img/dummy/d9.png"}, username: "dummy"})
      - users.push({personality: {tachie : "img/dummy/d10.png"}, username: "dummy"})
      - users.push({personality: {tachie : "img/dummy/d11.png"}, username: "dummy"})
      each user in users
        div.m-3
          - var link = `/i/${user.username}`
          a(href=link)
            - var style = `width: 198px; height:352px; background-image: url(${user.personality.tachie});background-color: rgba(255,255,255,0.5); border-radius: 8px; background-size: contain; background-repeat: no-repeat; background-position: center;`
            div(style=style)