block terms

  h1 サービス利用規約
  p.m-3 用法用量を守って正しくお使いください。
  hr.text-warning
  .text-left
    h4 定義
    p この利用規約は、小栗さえ（以下「運営者」と言います）が提供する「Meish*」（以下「当サービス」と言います）において、運営者と当サービスを利用する利用者（以下「利用者」と言います）の間で合意されるものです。
    p 利用者は、本規約に同意をしない限り当サービスを利用できません。当サービスを実際に利用することによって、本規約に同意をしたものとみなされます。
    p 本利用規約の準拠法は日本法とし、運営者と利用者の間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
    p 運営者は、本利用規約について、事前に当サービス上で十分な周知を行うことで、利用者の同意を得ず、改定できるものとします。
    
    h4 サービスの提供
    p 運営者は、あらかじめ利用者に通知することなく、いつでも、当サービスの全部または一部の内容を変更し、その提供を中止することができます。
    p 運営者は、当サービスに運営者または第三者の広告を掲載することができるものとします。
    p 運営者は、当サービスに起因して利用者に生じたあらゆる損害について一切の責任を負いません。

    h4 利用者のアカウント管理とサービスの利用
    p 利用者は、いつでも利用者のアカウントを削除して退会することができます。
    p 運営者は、利用者のアカウントを利用して行われた一切の行為を、利用者本人の行為とみなします。利用者は、自身のアカウントが不正に利用されないよう厳重に管理してください。
    p 運営者は、利用者が本規約に違反または違反するおそれがあると認めた場合、あらかじめ利用者に通知することなく、アカウントを停止、削除または変更等の措置を行うことができるものとします。またこれらの措置を講じた理由を開示する義務を負いません。
    p 運営者は、当サービスの最終のログインから1年以上経過している利用者のアカウント情報を、停止または削除することができます。
    p 利用者が誤ってアカウントを削除した場合であっても、アカウントの復旧はできません。

    h4 利用者の責任とコンテンツの権利
    p 利用者は、利用者の責任において当サービスを利用するものとし、当サービスにおいて行った一切の行為およびその結果について一切の責任を負うものとします。
    p 利用者は、当サービスを利用したことに起因して、運営者が直接的もしくは間接的に何らかの損害を被った場合、運営者の請求にしたがって直ちにこれを補償しなければなりません。
    p 利用者は、当サービスに対し、投稿コンテンツについて本ライセンスを付与するために必要な権原を有すること並びに当該投稿コンテンツの内容が法令および本規約に違反するものではないことを表明・保証するものとします。
    p 当サービスに投稿されたプロフィールデータやアップロードされた画像の著作権その他一切の権利は、利用者に帰属します。
    p 運営者は、投稿コンテンツに関して、当サービスの役務の提供、利用促進、改良、メンテナンス、企画・運営、共同研究及びプロモーション等における投稿コンテンツの利用に際し、運営者が必要とする範囲において投稿コンテンツを改変できるものとし、利用者はこれを予め承諾するものとします。
    p 運営者は、前項に定める形で投稿コンテンツの情報を使用する場合に、情報の一部または氏名表示を省略することができるものとします。
    p 利用者は、投稿コンテンツの削除後であっても、運営者が当該投稿コンテンツの全ての利用を終了するために合理的に必要であると考える期間が経過するまでの間は運営者による当該投稿コンテンツの利用が一定期間継続すること、及び、削除前に既にプロモーション等において当該投稿コンテンツが各媒体に掲載等されていた場合には、当該媒体等の掲載が継続する期間は当該投稿コンテンツの利用が継続することを予め承諾するものとします。
    p 運営者は、次の場合には、投稿コンテンツの非表示、または削除等の措置を行うことができるものとし、これらの措置を講じた理由を開示する義務を負いません。
    ul
      li 運営者が、投稿されたコンテンツについて第三者の権利者利益を侵害していると判断した場合
      li 公的な機関、特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律のガイドラインに規定された信頼性確認団体、インターネット・ホットライン、弁護士等から、公序良俗違反または第三者の権利を侵害する等の指摘があった場合。
      li その他、規約とポリシーに違反しているかに関わらず、運営者が当サービスの運営において、不適切であると判断した場合
    
    h4 禁止事項
    p 運営者は以下の禁止事項に触れる利用者の利用を事前の告知なしに停止することができます。またこれらの措置を講じた理由を開示する義務を負いません。
    ul
      li 商標権、特許権等の知的財産権、名誉権、プライバシー権、その他法令上または契約上の権利を侵害する行為
      li 法令、裁判所の判決、決定もしくは命令、または法令上拘束力のある行政措置に違反する行為
      li 公の秩序または善良の風俗を害するおそれのある行為
      li 過度に暴力的な表現、露骨な性的表現、人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現、自殺、自傷行為、薬物乱用を誘引または助長する表現、その他反社会的な内容を含む表現を、投稿または送信する行為
      li キャラクター設定と無関係な虚偽の情報を意図的に流布させる行為
      li キャラクターの宣伝と無関係な営業、宣伝、広告、勧誘、その他営利を目的とする行為
      li 他の利用者に対する嫌がらせや誹謗中傷を目的とする行為
      li 反社会的勢力に対する利益供与その他の協力行為
      li 実在する宗教の宗教活動または宗教団体への勧誘行為
      li 他人の個人情報、登録情報、利用履歴情報などを、不正に収集、開示または提供する行為
      li 当サービスにて認証済みのアカウントを第三者に譲渡または貸与し、当サービスを利用させる行為
      li 当サービスのサーバーやネットワークシステムに支障を与える行為
      li 当サービスを介さず、APIサーバーにアクセスする行為
      li BOT、スクレイピング、その他の技術的手段を利用してサービスを不正に操作する行為
      li 当サービスの不具合を意図的に利用する行為
      li 運営者に対し不当な問い合わせまたは要求をする行為
      li 当サービスの運営または他の利用者による当サービスの利用を妨害し、これらに支障を与える行為
      li 運営者または第三者になりすます行為
      li その他、運営者が不適当と判断した行為
