h3, h4, h5, h6 {
  font-weight: bold;
} 
h3 {
  margin-top:2.5rem;
  margin-bottom:1.5rem;
}
h4 {
  margin-top:2.0rem;
}
h5 {
  margin-top:1.5rem;
}

h6 {
  margin-top:1.0rem;
}

p, ul, h5, h6 {
  margin-left: 1.5rem;
}

.domain, img {
  border-radius: .25rem;
  border: solid 1px #ccc;
}