extends ../layout/layout

block content
  section#about.page-section
    div.container.justify-content-center
      h5
        span.badge.badge-danger.m-3 404
        span お探しのページ（ファイル）は存在しないか非公開になっています。