footer
  footer.bg-light.py-2
    div.container
      div.small.text-center.text-muted 
        a(href="/about") About
        span  | 
        a(href="/about#terms") Terms
        span  | 
        a(href="") Twitter
        span  | 
        span Copyright &copy; 2020 - 
        a(href="https://twitter.com/OkuriSae") @OkuriSae