footer
  footer.bg-light.py-2
    div.container
      div.small.text-center.text-muted 
        a(href="/about") Meish*について
        span  | 
        a(href="/about#terms") 利用規約
        span  | 
        a(href="/howto") 使い方
        span  | 
        a(href="/specialthanks") SpecialThanks
        span  | 
        a(href="https://twitter.com/meish_support") Twitter
        span  | 
        a(href="https://github.com/OkuriSae/Meish") GitHub
        span  | 
        span Copyright &copy; 2020 - 
        a(href="https://twitter.com/OkuriSae") @OkuriSae