footer
  footer.bg-light.py-2
    div.container
      div.small.text-center.text-muted 
        a(href="/about") Meish*について
        span  | 
        a(href="/terms") 利用規約
        span  | 
        a(href="/privacy_policy") プライバシーポリシー
        span  | 
        a(href="/howto") 使い方
        span  | 
        a(href="https://twitter.com/Meish_me") Twitter
        span  | 
        a(href="/specialthanks") SpecialThanks
        span  | 
        span Copyright &copy; 2020 - 
        a(href="https://twitter.com/OkuriSae") @OkuriSae