footer
  footer.bg-light.py-2
    div.container
      div.small.text-center.text-muted 
        a(href="/about") About Meish*
        span  | Copyright &copy; 2020 - 
        a(href="https://twitter.com/OkuriSae") @OkuriSae