header
  nav#mainNav.navbar.d-flex.justify-content-between
    a(href="/").headerLogo

    form(method='get' action='/search')#SearchForm.search
      div.input-group
        div.input-group-prepend
          div(style="border-radius: 1rem 0 0 1rem;").input-group-text 
            i.fas.fa-search
        input(type="text" name="q" value=q placeholder="Search by tag" style="border-radius: 0 1rem 1rem 0;")#QueryInput.form-control.form-control-sm

    div.text-right
      if me
        - var iconUrl = me._json.profile_image_url_https.replace("normal", "bigger");
        div.dropdown
          img(src=iconUrl style="border-radius:50%; width:30px;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").dropdown-toggle
          div(aria-labelledby="dropdownMenuButton" style="min-width: 6rem; left:-75px;").dropdown-menu
            small
              h6.dropdown-header  #{me.username}
              .dropdown-divider
              a(href="/i/"+me.username).dropdown-item 
                span My Page
              .dropdown-divider
              a(href="/logout").dropdown-item
                span 
                  i.fas.fa-sign-out-alt
                span  Logout
      else
        a(href="/auth/twitter")
          button.btn-sm.btn-twitter
            i(style="width:80px;").fab.fa-twitter  ログイン
  div(style="height:40px;")
  div(style="width100%;").bg-primary.text-center.text-white
    small 
      a(href="/chokaigi2020" target="_blank").text-white niconicoネット超会議キャンペーン実施中！『超会議2020』タグをつけよう！