doctype html
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/websaite#")
    title Meish* バーチャルプロフィール登録サービス

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1,  shrink-to-fit=no")
    link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/common.css")
    include favicon.pug

    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-157839484-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157839484-1');
    script(data-ad-client="ca-pub-8262966340736688" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")

    block meta
  
  body#page-top
    div(style="position:fixed; width:100%;height:100%; background-color: rgba(0,0,0,0.2); z-index:2000; display:none;")#loading
      .container.d-flex.h-100
        .row.justify-content-center.align-self-center.mx-auto
          .loader
            span Loading...

    block header
      include header.pug
    #footSpace
      block content

    block footer
      include footer.pug
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js", integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js", 
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm", 
    crossorigin="anonymous")
    script(src="/javascripts/bundle.js")