doctype html
html
  head
    title Meish* バーチャルプロフィール保管サービス

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1,  shrink-to-fit=no")
    link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/css.css")
    if !(mode == "edit")
      link(rel="stylesheet" href="/css/notme.css")
    include favicon.pug

    block meta
  
  body#page-top
    block header
      include header.pug
    #footSpace
      block content

    block footer
      include footer.pug
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js", 
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm", 
    crossorigin="anonymous")
    script(src="/javascripts/bundle.js")
    script.
      $('[data-toggle="tooltip"]').tooltip();